.footer__link {
  margin-right: 14px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
/* identical to box height, or 112% */
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
 }


 @media screen and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
   }
   .footer__link:last-of-type {
    margin-bottom: 48px;
   }
}
